{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Sistema de Reservas{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Inicio</a></li>
      <li><a href="{% url 'about' %}">Acerca de</a></li>

      {% if user.is_authenticated %}
        <li><a href="{% url 'reserva_list' %}">Reservas</a></li>
        <li><a href="{% url 'restaurante_list' %}">Restaurantes</a></li>
        <li><a href="{% url 'perfil_usuario' %}">Perfil</a></li>
        </li><a href="{% url 'cambiar_contrasena' %}">Cambiar contraseña</a></li>
        <li>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" style="background:none;border:none;padding:0;margin:0;color:blue;cursor:pointer;text-decoration:underline;">Cerrar sesión</button>
            </form>
          </li>
        {% if request.user.perfil.avatar %}
          <img src="{{ request.user.perfil.avatar.url }}" alt="Avatar" width="40" height="40" style="border-radius:50%;">
        {% else %}
          <img src="{% static 'img/default-avatar.png' %}" width="40" height="40" style="border-radius:50%;">
        {% endif %}
      {% else %}
        <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
        <li><a href="{% url 'signup' %}">Registrarse</a></li>
      {% endif %}
    </ul>
  </nav>

  <div class="contenido">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>

