{% extends 'base.html' %}

{% block title %}Listado de Reservas{% endblock %}

{% block content %}
  <h1>Listado de Reservas</h1>

  {% if reservas %}
    <ul>
      {% for reserva in reservas %}
        <li>{{ reserva.dia|date:"d/m/Y" }} - {{ reserva.hora|time:"H:i" }} - {{ reserva.restaurante }} - 
            {{ reserva.personas }} - {{ reserva.usuario.first_name }} {{ reserva.usuario.last_name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay reservas registradas.</p>
  {% endif %}

  <a href="{% url 'reserva_create' %}">Crear nueva reserva</a>
{% endblock %}
